*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
body{
    overflow-x: hidden;
    background-color: #0a192f;
}
.hero-header{
    width: 100%;
    height: 100%;
    min-height: 100vh;
}
.wrapper{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: o 20px;
}
header{
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    left: 0px;
    backdrop-filter: blur(10px);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.logo i{
    height: 45px;
    width: 45px;
    background-color: #007ced;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}
.logo .logo-text {
    font-weight: 500;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold; 
    text-transform: uppercase; 
    letter-spacing: 1px;
}
nav .togglebtn{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}
nav .togglebtn span{
    display: block;
    background-color: #007ced;
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}
nav .navlinks{
    list-style-type: none;
}
nav .navlinks li{
    display: inline-block;
}
nav .navlinks li a {
    color: #8892b0;
    margin-right: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-decoration: none; 
    transition: color 0.3s ease; 
}

.navlinks a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #00ffcc;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

nav.navlinks li a:hover::after {
    width: 100%;
}
nav .navlinks li a:hover {
    color: #00ffcc;
    
}


.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
}
.container .hero-pic{
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #4444;
    box-shadow: 5px 7px 25px #15fa00;
}

.hero-pic img{
    height: 100%;
    width: 100%;
    transition: 0.5s;
}
.hero-pic img:hover{
    transform: scale(1.2);
}
.hero-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;

}

.hero-text h5{
    font-size: 30px;
}
.hero-text h5 span{
    color: #15fa00;
    font-size: 24px;
    font-family: cursive;
}
.hero-text h1{
    color: #007ced;
    font-size: 2rem;
    font-weight: 700;
    font-family: sans-serif;
}
.hero-text p {
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;

}
.btn-group{
    margin: 45px 0;
}
.btn-group .btn{
    border-color: #d5d5d5;
    color: #ffff;
    background-color: #0a192f;
    padding: 10px 15px;
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #d5d5d5;
    box-shadow: 0 10px 10px -8px #15fa00;
}
.btn.active {
    border-color: #007ced;
}
.social i{
    color: #e5e5e5;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
    
}

 .social i:hover{
    color: #007ced;
    transform: rotate(360deg);
    
}

/* disign and display navbar for small screen */
@media (max-width: 930px) {
    nav .togglebtn {
        display: initial;
        right: 5%;
    }
    body{
        overflow-x: hidden;
    }

    /* for toggle button */
    .click {
        top: 50%;
        transform: translateY(-50%);
    }
    .click span {
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child {
        transform: rotate(-45deg);
    }
    .click span:nth-child(2) {
        opacity: 0;
        margin: 0;
    }
    .click span:last-child {
        transform: rotate(45deg);
        top: 0;
    }

    nav .navlinks {
        position: absolute;
        top: 110px;
        bottom: 0;
        width: 40%;
        height: 250%;
        background-color: #0a192f;
        backdrop-filter: blur(10px);
        box-shadow: inset 5px 5px 20px #00ffcc;
        transition: 0.5s;
        padding: 25px 20px;
        border: 2px solid #00ffcc;
        border-radius: 1px;

    }
    nav .navlinks li {
        display: block;
    }
    nav .navlinks li a {
        display: block;
        margin-bottom: 15px;
        text-align: left;
    }
    nav .navlinks.open {
        right: 5%;
    }
    .intro-section{
        margin-top: -100px;
    }
}
@media (max-width: 768px)
{
    body{
        overflow-x: hidden;
    }
    .container{
        flex-direction: column;
        padding-top: 2rem;
    }
    .hero-text{
        padding: 40px 0px;
    }
    .navlinks.open {
        display: block;
    }
    .navlinks {
        display: none;
    }
    .container{
        margin-top: 100px;
    }
    .intro-section{
        margin-top: -100px;
    }

}

/* Intro Section Styles */
.intro-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top:-100px;
    flex-wrap: wrap;
    background: #0a192f;
  }
  
  .intro-card {
    background: transparent;
    border-radius: 10px;
    margin-top: 100px;
    padding: 40px 30px;
    max-width: 350px;
    text-align: center;
    display: inline-block;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .intro-card:hover {
    transform: translateY(-10px);
    box-shadow: -2px -2px 46px #007ced;
  }
  
  .intro-icon {
    font-size: 50px;
    color: #15fa00;
    margin-bottom: 20px;
  }
  
  .intro-content {
    flex: 1;
  }
  
  .intro-content h2 {
    font-size: 26px;
    margin-bottom: 10px;
    color: #007ced;
  }
  
  .intro-content p {
    color: #ffffff;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.8;
  }
  
  .learn-more {
    color: #007ced;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    transition: color 0.3s ease;
  }
  
  .learn-more:hover {
    transform: translateY(-10px);
    color: #15fa00;
  }
  
  @media (max-width: 768px) {
    .intro-card {
      flex-direction: column;
      text-align: center;
      max-width: 90%;
    }
  
    .intro-icon {
      margin-bottom: 20px;
      margin-right: 0;
    }
  
    .intro-content {
      padding: 0 20px;
    }
  }
  
  @media (max-width: 576px) {
    .navlinks li {
      display: block;
      margin: 10px 0;
    }
    
    .intro-card {
      flex-direction: column; 
    }
  }
  .whatsapp-icon {
    position: fixed;
    left: 20px;
    bottom: 20px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #128C7E;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    transition: all 0.3s ease;
}

.whatsapp-icon:hover {
    background-color: #128C7E;
    box-shadow: 2px 2px 3px #25d366;
    color: #fff;
    transform: scale(1.1);
}

/* Ensure the icon doesn't overlap with content on smaller screens */
@media screen and (max-width: 768px) {
    .whatsapp-icon {
        left: 10px;
        bottom: 10px;
        font-size: 24px;
        width: 50px;
        height: 50px;
    }
}
  
/* Dark mode toggle */
.dark-mode-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: orangered;
    color: #000000;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: var(--transition);
  }
  
  .dark-mode-toggle:hover {
    background-color: white;
  }
  .dark-mode {
    background-color: #f7f7f7;
  }
  .dark-mode p ,.hero-text h5 {
    color: #000000;
  }
  .dark-mode header{
    background-color: #22222242;
  }
  .dark-mode .intro-section{
    background: #ffffff;
  }
  .dark-mode .intro-card{
    box-shadow: -2px -2px 46px #000000;
  }
  .dark-mode .social i{
    color: #000000;
  }
  .dark-mode .logo .logo-text{
    color: #0a0253;
  }
  
  